### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.sts4-cache
bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
